<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DosMigration.Properties.Settings.MIPSED7ConnectionString"
            connectionString="Data Source=.\vuger2008;Initial Catalog=MIPSED7;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>