<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ServerName" value=".\OLDVUGER"/>
    <add key="SqlUserName" value="oYw1VIYJtG8="/>
    <add key="SqlPassword" value="zeyvSAGnfvEzfsqqtB7UIA=="/>
    <add key="DatabaseName" value="MIPSED7"/>
    <add key="SMTPClient_Exceptions" value="mail.t-com.hr"/>
    
    
    <add key="Modul_Place" value="1"/>
    <add key="Modul_Honorari" value="1"/>
    <add key="Modul_Finpos" value="1"/>
    <add key="Modul_eDokumenti" value="0"/>
    <add key="Modul_Erv" value="1"/>
    <add key="Modul_Praksa" value="1"/>
    <add key="Modul_Imovina" value="1"/>
    <add key="Modul_KorisnikSifrarnici" value="1"/>
    <add key="Modul_ServisneFunkcije" value="1"/>
    <add key="Modul_JavnaNabava" value="1"/>
    <add key="Modul_Materijalno" value="1"/>
    <add key="Modul_UF" value="1"/>
    <add key="Modul_JOPPD" value="1"/>
    <add key="Modul_JOPPDRazno" value="0"/>
    <add key="Modul_PutniNalog" value="1"/>
    <add key="Modul_Raspored" value="1"/>
    <add key="Modul_COP" value="0"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>

  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/EntityFramework.dbMIPSED7.csdl|res://*/EntityFramework.dbMIPSED7.ssdl|res://*/EntityFramework.dbMIPSED7.msl;
         provider=System.Data.SqlClient;provider connection string=&quot;
         data source=.\VUGER2008;initial catalog=MIPSED7_develop_UF;persist security info=True;user id=mipsed7;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692FBEA5521E1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
		</assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
